AVM_ADDRESS=your_algorand_address_here
FACILITATOR_URL=https://facilitator.goplausible.xyz

# Optional: To run with your own local facilitator, uncomment the line below when its running
# FACILITATOR_URL=http://localhost:4022
