AVM_ADDRESS=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
PAYMENT_RECEIVER_ADDRESS=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
FACILITATOR_URL=https://facilitator.goplausible.xyz
PORT=4021
ALGORAND_NETWORK=testnet
FASTAPI_BASE_URL=http://127.0.0.1:8000
