# Pokédex Backend Environment Configuration
ALGOD_ADDRESS=https://testnet-api.algonode.cloud
ALGOD_TOKEN=
INDEXER_ADDRESS=https://testnet-idx.algonode.cloud
INDEXER_TOKEN=

# Minter & Escrow (TestNet)
MINTER_ADDRESS=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
TREASURY_ADDRESS=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
PAYMENT_RECEIVER_ADDRESS=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
X402_PAY_TO=3VZQZ4J4YRJBIJ6DAHGTS2QHZBLQUVKJYWRGHENSEIO5R73C5TFFL7N2PM
X402_PAYMENT_ASSET=10458941
ESCROW_MNEMONIC=
NETWORK=testnet
